<div class="container">
  <h3>List all pins</h3>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Icon</th>
      <th>Action</th>
    </tr>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.id %></td>
        <td><%= pin.latitude %></td>
        <td><%= pin.longitude %></td>
        <td><%= pin.icon %></td>
        <% num_photo = pin.photos.count %>
        <td>
          <button class='btn btn-primary' type="button" name="button">view map</button>
          <% if num_photo > 0 %>
            <%= link_to "view photo (#{num_photo})", pin_path(pin), class: 'btn btn-info' %>
          <% else %>
            no photo
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="pull-right">
    <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
  </div>
</div>
