<!DOCTYPE html>
<html>
  <head>
    <title>Gogreen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2YSqHlag7juB4lsz4mfMLH7P68UmdOVw&callback=initMap"
    async defer></script>
    <script>
      var map;
      var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12
        });
      }
    </script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            GoGreen
          </a>
        </div>
        <% if current_user %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to 'Home', pins_path %>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Logout", '/logout' %></li>
            </ul>
          </div>
        <% end %>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
